.bookmark-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.bookmark-list > article{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bookmark-item {
  width: clamp(300px, 100vw, 500px);
  padding: 15px;
  background: rgb(240, 240, 240);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 4px 0.01px grey;
  position: relative;

  &>a{
    all: unset;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(0, 144, 234);
    transition: all 0.3s;

    &:hover{
      color: #0071ea;
    }
  }

  &>p{
    margin: 9px 0;
  }
}

.tag{
  padding: 4px 10px;
  border: 1px solid grey;
  border-radius: 30px;
  margin: 0 4px;
}

.delete-btn{
  all: unset;
  position: absolute;
  top: 9px;
  right: 5px;
  padding: 4px 10px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover{
    transform: scale(0.98);
  }
}