.home {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home > h1{
    margin-bottom: 30px;
}

.home > p{
    width: clamp(300px, 100vw, 600px);
    margin-bottom: 20px;
    font-size: 1.1rem;
    text-shadow: 0.2px 0.2px black, -0.2px -0.2px black;
}

.home > div{
    font-weight: 600;

    & > a{
        padding: 6px 16px;
        border: 1.2px solid grey;
        border-radius: 40px;
        text-decoration: none;
        transition: all 0.3s;

        &:hover{
            background-color: #0071ea;
            color: white;
        }
    }
}

.home > div > a:first-of-type{
    margin-right: 20px;
}

.home > div > a:nth-of-type(2){
    margin-left: 20px;
}